body{
 background-image: url("background.png");
 background-color: #cccccc;
 background-size: cover;
 background-repeat: no-repeat;
 color: white;
}

.index
{
	width: 800px;
	height:80px;
	background-color: lavenderblush;
	margin: auto;
	text-align: center;
	color: black;
    padding: 10px 0px 10px 0px;
    border-radius: 15px 15px 0px 0px;
    font-family: forte;
    font-size: 25px;
    padding-bottom: 25px;
}

.clicks
{
	padding-top: 40px;
	background-color: rgba(0,0,0,0.5);
	width: 800px;
	height: 500px;
	margin:auto;
}

.home
{
	padding-top: 40px;
	font-size: 15px;
	font-family: lucida handwriting;
}

.middle_part
{
	padding-top: 40px;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 14px;
	font-family: lucida handwriting;
}

.button2
{
	padding-top: 50px;
}

button
{
	border-radius: 12%;
    background-color:papayawhip;
    cursor: pointer;
}

button:hover
{
	background-color: lightblue;
}

#op1
{
	
}